{% extends "base.html" %}


{% block content %}
  {% if order_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Task id</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
          <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.task_id }}</td>
            <td>
              <form action="{% url 'order_manager:order-delete' order.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor%}
      </tbody>
    </table>
  {% else %}
    <h1>You don't have any orders</h1>
  {% endif %}
{% endblock %}
